name: sign_up
description: A new Flutter project.




version: 1.0.0+1

environment:
  sdk: ">=2.13.0 <3.0.0"
  flutter: ">=2.0.0"

dependencies:
  flutter:
    sdk: flutter
  firebase_core: "^1.5.0"
  firebase_auth: "^3.0.2"
  flutter_meedu: ^4.4.0



  cupertino_icons: ^1.0.2
  

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.4


flutter:


  uses-material-design: true
